"*":
  alignment: {}
  core:
    autoHideMenuBar: true
    themes: [
      "isotope-ui"
      "monokai"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Source Code Pro, Source Code Pro for Powerline"
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
  "file-icons":
    onChanges: true
  "flex-tool-bar": {}
  "isotope-ui":
    backgroundGradient: true
    fontFamily: "System Default"
    fontWeight: "Regular"
  linter: {}
  "linter-eslint": {}
  "linter-phpcs": {}
  "linter-sass-lint": {}
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
  pigments:
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  "split-diff":
    ignoreWhitespace: true
  tabs:
    showIcons: true
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
