"*":
  alignment: {}
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    use: {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "atom-autocomplete-php"
      "goto-definition"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Source Code Pro, Source Code Pro for Powerline"
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
  "file-icons": {}
  "flex-tool-bar": {}
  "isotope-ui":
    backgroundGradient: true
    fontFamily: "System Default"
    fontWeight: "Regular"
  linter: {}
  "linter-eslint": {}
  "linter-phpcs": {}
  "linter-sass-lint": {}
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "php-debug":
    AutoExpandLocals: true
    PathMaps: [
    ]
    currentPanelMode: "bottom"
  pigments:
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  "split-diff":
    ignoreWhitespace: true
  tabs:
    showIcons: true
  "tool-bar":
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
