packages: [
  "alignment"
  "atom-autocomplete-php"
  "atom-beautify"
  "busy-signal"
  "code-stats-atom"
  "css-comb"
  "editorconfig"
  "file-icons"
  "flex-tool-bar"
  "intentions"
  "isotope-ui"
  "language-applescript"
  "language-htaccess"
  "language-smarty"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-phpcs"
  "linter-sass-lint"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "monokai"
  "multi-cursor-increment"
  "package-sync"
  "pigments"
  "split-diff"
  "tabs-to-spaces"
  "tool-bar"
]
