[
  {
    type: "button"
    callback: "tree-view:add-file"
    tooltip: "New file"
    iconset: "ion"
    icon: "document"
  }
  {
    type: "button"
    callback: "tree-view:add-folder"
    tooltip: "New folder"
    iconset: "ion"
    icon: "folder"
  }
  {
    type: "button"
    callback: "pane:split-right"
    tooltip: "Split screen - Horizontally"
    iconset: "mdi"
    icon: "table-column-plus-after"
  }
  {
    type: "button"
    callback: "pane:split-down"
    tooltip: "Split screen - Vertically"
    iconset: "mdi"
    icon: "table-row-plus-after"
  }
  {
    type: "button"
    callback: "pane:close"
    tooltip: "Close pane"
    iconset: "fa"
    icon: "times-circle-o"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    callback: "merge-conflicts:detect"
    tooltip: "Merge Conflicts"
    icon: "git-pull-request"
  }
  {
    type: "button"
    callback: "markdown-preview:toggle"
    tooltip: "Preview"
    icon: "markdown"
    disable: "!markdown"
  }
  {
    type: "button"
    callback: "window:toggle-full-screen"
    tooltip: "Toggle Fullscreen"
    iconset: "fa"
    icon: "arrows-alt"
  }
  {
    type: "spacer"
    show: "arduino"
  }
  {
    type: "button"
    callback: "arduino-upload:verify"
    tooltip: "Verifies the sketches"
    icon: "check"
    show: "arduino"
  }
  {
    type: "button"
    callback: "arduino-upload:build"
    tooltip: "Builds the current sketch"
    icon: "rocket"
    show: "arduino"
  }
  {
    type: "button"
    callback: "arduino-upload:upload"
    tooltip: "Uploads the current sketch to a connected arduino"
    icon: "cloud-upload"
    show: "arduino"
  }
  {
    type: "button"
    callback: "arduino-upload:serial-monitor"
    tooltip: "Opens the serial monitor"
    icon: "browser"
    show: "arduino"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    callback: "command-palette:toggle"
    tooltip: "Command Palette..."
    iconset: "ion"
    icon: "navicon-round"
  }
  {
    type: "button"
    callback: "settings-view:open"
    tooltip: "Settings"
    iconset: "ion"
    icon: "gear-a"
  }
]
